<!DOCTYPE html>
<html>
  <head>
        <meta property="og:title" content="Weather App">
    <meta property="og:image" 
        content="https://raw.githubusercontent.com/SamArsanios/group-my-expenses/development/app/assets/images/screenshot-3.JPG">
    <meta property="og:site_name" content="https://samarsanios.github.io/weather-app/">
    <meta property="og:description"
        content="This is a basic Weather Application that consumes OpenWeather API to populate the targeted fields in the DOM.">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="https://samarsanios.github.io/weather-app/">
    <meta property="twitter:title" content="Weather App">
    <meta property="twitter:description"
        content="This is a basic Weather Application that consumes OpenWeather API to populate the targeted fields in the DOM.">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/SamArsanios/group-my-expenses/development/app/assets/images/screenshot-3.JPG">
    <title>GroupMyExpenses</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

         <!-- Include Twitter Bootstrap and jQuery: -->
         <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

  </head>

  <body>
    <% flash.each do |type, msg| %>
      <ul class="alert alert-<%= type %> mb-0">
        <% msg.each do |m| %>
          <%= content_tag :li, m %>
        <% end %>
      </ul>
    <% end %>
    <%= yield %>

    
  </body>
</html>
